body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

p {
	font-family: sans-serif, 'Open Sans';
}

.viewport {
	height: 100vh;
	background: steelblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculator {
	width: 400px;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

.display {
	background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.display p {
	margin: 0 20px 0 0;
	font-size: 2em;
	color: #fff;
}

.button-row {
	display: flex;
}

.bttn {
	background-color: #f5f5f5;
	text-align: center;
	font-size: 1.2em;
	flex: 1;
	padding: 20px 25px;
	border: 1px solid #797878;
	box-shadow: 0 1px 0 0 rgba(0,0,0, 0.2);
}

.bttn:hover {
	opacity: 0.9;
	cursor:pointer;
}

.operator {
	background-color: #af5d5d;
	color: #fff;
	font-size: 1.5em;
	
}

.zero {
	flex: 3.1;
	border-bottom-left-radius: 3px;
}

.equals {
	border-bottom-right-raidus: 3px;
}

